<p>chart works!</p>
<div class="conatiner">
    <div class="card">
        <div class="card-header">
            Select City Vise
        </div>
        <div class="card-body">
        
        <div class="row">
        <div class="col-md-6">
<div *ngIf="Province.length!=0"> 
<select (change)="getcity($event.target.value)">
        <option value='' selected disabled>Select State</option>
        <option  *ngFor="let item of Province" [value]='item.Province' >{{item.Province}}</option>
        <!-- <option value='Electors'>Electors</option> -->
    </select>
    </div>
</div>
<div class="col-md-6">
    <select (change)="getdata($event.target.value)">
        <option value='' selected disabled>Select City</option>
        <!-- <option  *ngFor="let item of cityvalue" [value]='item["Federal Electoral Districts"]' >{{item["Federal Electoral Districts"]}}</option> -->
        <!-- <option value='Electors'>Electors</option> -->
        <option  *ngFor="let item of cityvalue" [value]='item.Code' >{{item["Federal Electoral Districts"]}}</option>

    </select>
</div>
    <label>This choose is true if:</label>
<label class="form-check-inline">
    <!-- <input class="form-check-input" type="radio" name="mode" [value]="true" [(ngModel)]="rule.mode"> -->
    <input class="form-check-input" type="radio" name="mode" value="Normal"  (change)="getdatachanged('Normal')">Normal

</label>
<label class="form-check-inline">
    <input class="form-check-input" type="radio" name="mode" value="Advance Polls" (change)="getdatachanged('Advance Polls')">Advance Polls

    <!-- <input class="form-check-input" type="radio" name="mode" [value]="false" [(ngModel)]="rule.mode"> -->
</label>
<label class="form-check-inline">
    <input class="form-check-input" type="radio" name="mode" value="Groups" (change)="getdatachanged('Groups')">Groups

    <!-- <input class="form-check-input" type="radio" name="mode" [value]="false" [(ngModel)]="rule.mode"> -->
</label>
</div>
</div>
</div>
</div>

<!-- <div class='container' style="margin-top: 17px">
   <div class="row">
       <div class="col">
          <form [formGroup]="forgotpasswordForm" (ngSubmit)="onsave()">
          <div class="card">
              <div class="card-header">
              Filters 
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-2">
                          <div class="row">
                              <div class="col-md-12">
      <label>Total Votes</label>
  </div>
  </div>
  <div class="row">
      <div class="col-md-2">
  <select 
  formControlName="voterstype" >
          <option value='' selected disabled>Select Type</option>
          <option value='Total_Votes'>Total Voters</option>
          <option value='Electors'>Electors</option>
      </select>
  </div>
  </div>
  </div>
  
  <div class="col-md-3">
      <div class="row">
          <div class="col-md-12">
      <label>Select Top or Bottom</label>
      </div>
      <div class="col-md-2">
      <select  formControlName="topandbottom"
      >
          <option value='' selected disabled>Select Top or Bottom</option>
          <option value='Top'>Top</option>
          <option value='Bottom'>Bottom</option>
  
  
      </select>
      </div>
      </div>
      </div>
      <div class="col-md-2">
          <div class="row">
              <div class="col-md-12">
                  <label>Values</label>
          </div>
          <div class="col-md-2">
   
      <select  formControlName="values"
      >
          <option value='' selected disabled>Values</option>
          <option value='5'>5</option>
          <option value='10'>10</option>
          <option value='15'>15</option>
  
      </select>
      </div>
      </div>
      </div>
  <div class="col-md-2">
      <div class="row" style="margin-top: 21px;">
  
     
      <button type="submit" style="margin: 4px;">Submit</button>
      <button type="reset" style="margin: 4px;"  (click)='getcancel()'>Cancel</button>
      </div>
  </div>
  
  </div>
  </div>
  </div>
  </form>
  </div>
  </div>
      
      
     
  </div> -->

  <div class='container' style="margin-top: 17px">
    <!-- <input type="button" value='submit' (click)='getformdata()' [disabled]='disable'>
  
    <input type="button" value='submit' (click)='getformdata()' [disabled]='disable'> -->
   <div class="row">
       <div class="col">
          <form [formGroup]="forgotpasswordForm" (ngSubmit)="onsave()">
          <div class="card">
              <div class="card-header">
              Filters 
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-2">
                          <div class="row">
                              <div class="col-md-12">
      <label>Total Votes</label>
  </div>
  </div>
  <div class="row">
      <div class="col-md-2">
  <select 
  formControlName="voterstype" >
          <option value='' selected disabled>Select Type</option>
          <option value='Total_Votes'>Total Voters</option>
          <option value='Electors'>Electors</option>
      </select>
  </div>
  </div>
  </div>
  
  <div class="col-md-3">
      <div class="row">
          <div class="col-md-12">
      <label>Select Top or Bottom</label>
      </div>
      <div class="col-md-2">
      <select  formControlName="topandbottom"
      >
          <option value='' selected disabled>Select Top or Bottom</option>
          <option value='Top'>Top</option>
          <option value='Bottom'>Bottom</option>
  
  
      </select>
      </div>
      </div>
      </div>
      <div class="col-md-2">
          <div class="row">
              <div class="col-md-12">
                  <label>Values</label>
          </div>
          <div class="col-md-2">
   
      <select  formControlName="values"
      >
          <option value='' selected disabled>Values</option>
          <option value='5'>5</option>
          <option value='10'>10</option>
          <option value='15'>15</option>
  
      </select>
      </div>
      </div>
      </div>
  <div class="col-md-2">
      <div class="row" style="margin-top: 21px;">
  
     
      <button type="submit" style="margin: 4px;">Submit</button>
      <button type="reset" style="margin: 4px;"  (click)='getcancel()'>Cancel</button>
      </div>
  </div>
  
  </div>
  </div>
  </div>
  </form>
  </div>
  </div>
      
      
     
  </div>
  <hr>

  <div *ngIf="showtime" class="graph_container"  >
    <canvas baseChart
    [datasets]="barChartData" 
    [labels]="barChartLabels" 
    [options]="barChartOptions"
     [legend]="barChartLegend" 
     [chartType]="barChartType"
     width="450" height="350"
     ></canvas>
</div>
